*{
  /* border: solid red 1px */
}

form {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

#form-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

form label {
  font-weight: bold;
}

h1 {
  text-align: center;
  padding: 2.5%;
  font-family: 'Permanent Marker', cursive
}

#info-sect {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

#laptop-img-aside {
  max-width: 40%;
  border: 10 px red solid; 
}

#laptop-img-aside img {
  max-width: 100%;
}

#info-container {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ebeff2;
}

#info-container a {
  text-decoration: none;
  color: #343A3F;
}

#info-container a:hover{
  color: #d19c62;
}

#info-container ul {
  list-style-type: none;
  text-align: center
}

#info-sect #emily_name {
  font-size: 3rem;
  font-weight: bold
}

#info-sect .info {
  font-size: 1.2rem;
}


#form-sect label {
  color: #d19c62;
  white-space: pre;
  font-weight: bold;
  font-size: 1.25rem
}

.logo {
  max-width: 75px;
}

#footer-endline {
  display:flex;
  flex-direction: column;
  padding-left: 5%;
}

#links-container {
max-width: 20%;
text-align: right;
display:flex;
}

.footer-link {
  padding: 1%;
  color: white;
}

.footer-link:hover {
  text-decoration: none;
  color: #d19c62
}