/* Footer - Form & Nav */


footer #form-container {
  max-width: 100%;
}
footer #form-sect label {
  color: #d19c62;
  white-space: pre;
  font-weight: bold;
  font-size: 1.25rem
}

footer #form-sect {
  color: white;
  display: flex;
  flex-direction: row;
  max-width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: solid 1px #AD8152;
  border-bottom: solid 1px #AD8152;
}

footer #form-sect input {
  background-color: #ebeff2
}
footer #form-sect textarea {
  background-color: #ebeff2;
  max-width: 100%
}

footer .form-col {
  padding-right: 2%
}

footer .logo {
  max-width: 75px;
}

footer #links-container {
  max-width: 10%;
  float: right;
  text-align: right;
  }

footer #footer-links {
  display:flex;
  flex-direction: column;
}

footer .footer-link {
  padding: 1%;
  color: white;
}

footer .footer-link:hover {
  text-decoration: none;
  color: #d19c62
}